<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>!</p>
    <p>Adam is running the <a href="http://www.leicestermarathon.org.uk/">Leicester half marathon</a> on Sunday 26th of October 2014 to raise funds for the Leicester Hospice - <a href="http://www.loros.co.uk/">LOROS</a></p>
    <p>LOROS provide care and support to terminally ill adult patients and their family.</p>
    <h2>So what's this all about?</h2>
    <p>On <b>Monday 20th of October 2014</b> Adam will be making coffee/tea runs to Starbucks between <b>10am-4pm</b>, order your drink below and get it delivered right to your office/room within the CS building.</p>
    <p>A minimum 50p charity surcharge will be added to the stanard cost of the drink (rounded up to the nearest 50p for cash orders). You can also pay with PayPal.</p>

<h2>Order:</h2>

<form method="post" action="/order">Name:
    <input type="text" name="name">University Email:
    <input type="text" name="email">Location (room number):
    <input type="text" name="location"><br><br>
Size: 
<input type="radio" name="drinkSize" value="Small" checked>Small (Venti)
<input type="radio" name="drinkSize" value="Medium">Medium (Grande)
<input type="radio" name="drinkSize" value="Large">Medium (Tall)<br><br>

Type: <br>
<input type="radio" name="drinkType" value="Pumpkin Spice Latte" checked>Pumpkin Spice Latte<br>
<input type="radio" name="drinkType" value="Caffè Americano">Caffè Americano<br>
<input type="radio" name="drinkType" value="Flat White">Flat White<br>
<input type="radio" name="drinkType" value="Caffè Latte">Caffè Latte<br>


<br>Comments: <br>
<textarea cols="40" rows="5" name="comment">
Special requests or comments....
</textarea>



    <br><br><input type="submit" value="Submit">

</form>
   
  </body>
</html>
