<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Your order will be with your shortly, once again, thank you for your support!</h2>
    <p>Should you need to contact me, you can do so in the following ways:</p>
    <p>Telephone: 07703 762726</p>
    <p>Email: psyag@nottingham.ac.uk</p><br>
  </body>
</html>
